<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question Bank</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div
      class="question-bank row container-fluid"
      style="padding-right: 0px; padding-top: 20vh"
    >
      <%- include("./layouts/sidebar"); -%>

      <div class="header row container-fluid">
        <div class="header-wrapper"><div class="header-left col-10">
          <ul class="nav d-flex align-items-center">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <p>- - - - - - - -<span class="border-active"></span></p>
              </a>
              <span class="border-cs-right"></span>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <p>- - - - - - - -<span class="border-active"></span></p>
              </a>
              <span class="border-cs-right"></span>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <p>- - - - - - - -<span class="border-active"></span></p>
              </a>
              <span class="border-cs-right"></span>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <p>- - - - - - - -<span class="border-active"></span></p>
              </a>
              <span class="border-cs-right"></span>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <p>- - - - - - - -<span class="border-active"></span></p>
              </a>
              <span class="border-cs-right"></span>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <p>- - - - - - - -<span class="border-active"></span></p>
              </a>
              <span class="border-cs-right"></span>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link active">
                <p>Nhân sự <span class="border-active active"></span></p>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-right col-2"></div></div>
      </div>
      <div class="question-filter row px-0">
        <div class="question-filter-left col-8 px-0">
          <ul class="nav d-flex">
            <li class="nav-item active" data-filter="filterQuestion1">
              <div class="nav-link">
                <label for="dangSoanThao">Đang soạn thảo</label>
                <input type="checkbox" name="dangSoanThao" id="filterQuestion1" checked/>
              </div>
            </li>
            <li class="nav-item" data-filter="filterQuestion2">
              <div class="nav-link">
                <label for="guiDuyet">Gửi duyệt</label>
                <input type="checkbox" name="guiDuyet" id="filterQuestion2" />
              </div>
            </li>
            <li class="nav-item" data-filter="filterQuestion3">
              <div class="nav-link">
                <label for="daDuyet">Đã duyệt</label>
                <input type="checkbox" name="daDuyet" id="filterQuestion3" />
              </div>
            </li>
            <li class="nav-item" data-filter="filterQuestion4">
              <div class="nav-link">
                <label for="ngungApDung">Ngưng áp dụng</label>
                <input type="checkbox" name="ngungApDung" id="filterQuestion4" />
              </div>
            </li>
          </ul>
        </div>
        <div class="question-filter-right col-4 px-0"></div>
        <hr />
      </div>
      <div class="question-search"></div>
      <div class="question-list" >
        <table class="table text-center" style="overflow-x:scroll ;min-width: 900px;">
          <thead>
            <tr>
              <th scope="col">
                <input type="checkbox" class="check-popup" data-popup-id="all" name="allQuestion" id="allQuestion" />
              </th>
              <th scope="col">Câu hỏi</th>
              <th scope="col">Phân nhóm</th>
              <th scope="col">Thời gian làm</th>
              <th scope="col">Tình trạng</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%questions.forEach((question)=> {%>
            <tr
              class="question-row"
              data-question='<%- JSON.stringify(question) %>'
              data-question-id="<%=question.id%>"
            >
              <td scope="row">
                <input
                  type="checkbox"
                  name="allQuestion"
                  class="check-popup" 
                  data-check-box-question-id="<%=question.id%>"
                />
              </td>
              <td class="truncate-text" title="<%=question.content%>">
                <%=question.content%>
              </td>

              <td><%=question.group%></td>
              <td><%=question.time%></td>
              <td class="text-end question-status"><%=question.status%></td>
              <td >
<button class="show-action-question"><i class="fa-solid fa-ellipsis"></i>
  <ul class="action-question-menu nav flex-column justify-content-start"></ul></button>
                
              </td>
            </tr>
            <% })%>
          </tbody>
        </table>
      </div>
      <div class="footer d-flex justify-content-between align-items-center">
        <div class="numbers-question"></div>
        <div class="pagination-container">
          <ul class="pagination">
            <% const totalPages = Math.ceil(totalQuestions / ITEMS_PER_PAGE); %>
            <% const prevPage = currentPage > 1 ? Number(currentPage) - 1 : 1; %>
            <li class="page-item">
              <a class="page-link" href="/?page=<%= prevPage %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        
            <% const MAX_VISIBLE_PAGES = 4; %> <!-- Maximum visible page links -->
            <% const GROUP_SIZE = 4; %> <!-- Number of pages per group -->
            <% const groupIndex = Math.floor((currentPage - 1) / GROUP_SIZE); %>
            <% const startPage = groupIndex * GROUP_SIZE + 1; %>
            <% const endPage = Math.min(startPage + MAX_VISIBLE_PAGES - 1, totalPages); %>
            <% const hasLeftEllipsis = startPage > GROUP_SIZE; %>
            <% const hasRightEllipsis = endPage < totalPages; %>
        
            <% if (hasLeftEllipsis) { %>
              <li class="page-item">
                <a class="page-link" href="/?page=<%= startPage - GROUP_SIZE %>">&hellip;</a>
              </li>
            <% } %>
        
            <% for (let page = startPage; page <= endPage; page++) { %>
              <li class="page-item <%= page === currentPage ? 'active' : '' %>">
                <a class="page-link" href="/?page=<%= page %>"><%= page %></a>
              </li>
            <% } %>
        
            <% if (hasRightEllipsis) { %>
              <li class="page-item">
                <a class="page-link" href="/?page=<%= endPage + 1 %>">&hellip;</a>
              </li>
            <% } %>
        
            <% const nextPage = currentPage < totalPages ? Number(currentPage) + 1 : totalPages; %>
            <li class="page-item">
              <a class="page-link" href="/?page=<%= nextPage %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      
      
      
      <div class="popup-action" id="popup-action"><ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link row text-center" data-action="countQuestion"><h1></h1><span style="display: inline-block;" class="col-12">Gửi duyệt</span></a></li>
        <li class="nav-item"><a href="#" onclick="updateStatusQuestions(1)" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="guiDuyet"><i class=" col-12 fa-regular fa-paper-plane"></i><span style="display: inline-block;" class="col-12">Gửi duyệt</span></a></li>
        <li class="nav-item"><a href="#" onclick="updateStatusQuestions(4)" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="traVe"><i class=" col-12 fa-solid fa-rotate-left"></i><span style="display: inline-block;" class="col-12">Trả về</span></a></li>
        <li class="nav-item"><a href="#" onclick="updateStatusQuestions(2)" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="duyetApDung"><i class=" col-12 fa-regular fa-circle-check"></i><span style="display: inline-block;" class="col-12">Duyệt áp dụng</span></a></li>
        <li class="nav-item"><a href="#" onclick="updateStatusQuestions(3)" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="ngung"><i class=" col-12 fa-solid fa-ban"></i><span style="display: inline-block;" class="col-12">Ngưng áp dụng</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="xoa"><i class=" col-12 fa-regular fa-trash-can"></i><span style="display: inline-block;" class="col-12">Xóa câu hỏi</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link d-flex justify-content-center align-items-center" data-action="thoat" style="padding: 1.5rem;"><i class="fa-solid fa-x" style="border: none;"></i></a></li>
      </ul></div>
    </div>
    
    <script src="/js/bootstrap.js"></script>
    <script src="/js/animation-custom.js"></script>
    <script src="/js/question-request.js"></script>
  </body>   
</html>
