<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question Bank</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div
      class="question-bank container-fluid"
      style="padding:0px ;"
    >
      <%- include("./layouts/sidebar"); -%>
<div class="context">
  <%- include("./layouts/header"); -%>
  <div class="question-filter row ps-0">
    <div class="question-filter-left col-8 px-0">
      <ul class="nav d-flex">
        <li class="nav-item" data-filter="filterQuestion1">
          <div class="nav-link">
            <label for="dangSoanThao">Đang soạn thảo</label>
            <input type="checkbox" name="dangSoanThao" id="filterQuestion1"/>
          </div>
        </li>
        <li class="nav-item" data-filter="filterQuestion2">
          <div class="nav-link">
            <label for="guiDuyet">Gửi duyệt</label>
            <input type="checkbox" name="guiDuyet" id="filterQuestion2" />
          </div>
        </li>
        <li class="nav-item" data-filter="filterQuestion3">
          <div class="nav-link">
            <label for="daDuyet">Đã duyệt</label>
            <input type="checkbox" name="daDuyet" id="filterQuestion3" />
          </div>
        </li>
        <li class="nav-item" data-filter="filterQuestion4">
          <div class="nav-link">
            <label for="ngungApDung">Ngưng áp dụng</label>
            <input type="checkbox" name="ngungApDung" id="filterQuestion4" />
          </div>
        </li>
      </ul>
    </div>
    <div class="question-filter-right col-4 px-0 d-flex justify-content-end align-items-center">
      <ul class="nav">
        <li class="nav-item d-flex justify-content-center align-items-center" title="Upload"><a href="#" class="nav-link"><i class="fa-solid fa-upload"></i></a></li>
        <li class="nav-item d-flex justify-content-center align-items-center" title="Download"><a href="#" class="nav-link"><i class="me-2 fa-solid fa-download"></i><span style="display: inline-block;">Thêm mới</span></a></li>
        <li class="nav-item d-flex justify-content-center align-items-center" title="Thêm mới"><a href="#" class="nav-link"><i class="me-2 fa-solid fa-plus"></i><span style="display: inline-block;">Thêm mới</span></a></li>
      </ul> 
    </div>
    <hr />
  </div>
  <div class="question-search">
    <div class="row" style="margin: 0px;">
      <div class="col-6">
        <div class="question-search--top">
          <div class="search-item--icon" style="display: inline-block;"><i class="fa-solid fa-filter"></i></div>
          <div class="search-item--action" style="text-transform: uppercase;display: inline-block;" >Lọc dữ liệu</div>
          <div class="search-item--label" style="display: inline-block;">Tìm kiếm</div>
        </div>
        <div class="question-search--bot">
          <div class="search-item--icon" style="display: inline-block;"></div>
          <div class="search-item--action" style="display: inline-block;">Reset bộ lọc</div>
          <div class="search-item--label" style="display: inline-block;">
          <input type="search" name="search" id="searchAction" placeholder="Tìm theo mã và câu hỏi">
          <i class="fa-solid fa-magnifying-glass"></i>
          <button type="button"><i class="fa-solid fa-magnifying-glass"></i><span style="display: inline-block;">Tìm</span></button>
          </div>
        </div>
      </div>
      <hr class="col-12">
    </div>
  </div>
  <div class="question-list" >
    <table class="table text-center" style="overflow-x:scroll ;min-width: 900px;">
      <thead>
        <tr>
          <th scope="col">
            <input type="checkbox" class="check-popup" data-popup-id="all" name="allQuestion" id="allQuestions" />
            Câu hỏi
          </th>
          <th scope="col"></th>
          <th scope="col">Phân nhóm</th>
          <th scope="col">Thời gian làm</th>
          <th scope="col">Tình trạng</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%questions.forEach((question,index)=> {%>
        <tr
          class="question-row"
          data-question='<%- JSON.stringify(question) %>'
          data-question-id="<%=question.id%>"
          data-index = "<%=index%>"
        >
          <td scope="row">
            <input
              type="checkbox"
              name="allQuestion"
              class="check-popup" 
              data-check-box-question-id="<%=question.id%>"
            />
          </td>
          <td class="truncate-text question-content" title="<%=question.content%>">
            <p><%=question.content%></p>
            <div class="question-info"><span class="question-id"><%=question.id%></span>
              <span class="question-border"></span>
              <span class="question-type"><%=question.type%></span></div>
            
            
          </td>

          <td><%=question.group%></td>
          <td><%=question.time%>s</td>
          <td class="text-end question-status" style="color:
          <% if (question.status === 'Đang soạn thảo') { %>
            black
          <% } else if (question.status === 'Gửi duyệt' ) { %>
            #31ADFF
          <% }else if (question.status === 'Áp dụng' ) { %>
            #008000
          <% }else if (question.status === 'Trả về' ) { %>
            #B7B92F
          <% }  else { %>
            #FB311C
          <% } %>
        "><%=question.status%></td>
          <td >
<button class="show-action-question"><i class="fa-solid fa-ellipsis"></i>
<ul class="action-question-menu nav flex-column justify-content-start"></ul></button>
            
          </td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
  
  
  
  <div class="popup-action" id="popup-action"><ul class="nav">
    <li class="nav-item"><a href="#" class="nav-link row text-center" data-action="countQuestion"><h1></h1><span style="display: inline-block;" class="col-12">Đã chọn</span></a></li>
    <li class="nav-item"><a href="#" onclick="updateStatusQuestions(1)" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="guiDuyet"><i class=" col-12 fa-regular fa-paper-plane"></i><span style="display: inline-block;" class="col-12">Gửi duyệt</span></a></li>
    <li class="nav-item"><a href="#" onclick="updateStatusQuestions(4)" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="traVe"><i class=" col-12 fa-solid fa-rotate-left"></i><span style="display: inline-block;" class="col-12">Trả về</span></a></li>
    <li class="nav-item"><a href="#" onclick="updateStatusQuestions(2)" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="duyetApDung"><i class=" col-12 fa-regular fa-circle-check"></i><span style="display: inline-block;" class="col-12">Duyệt áp dụng</span></a></li>
    <li class="nav-item"><a href="#" onclick="updateStatusQuestions(3)" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="ngung"><i class=" col-12 fa-solid fa-ban"></i><span style="display: inline-block;" class="col-12">Ngưng áp dụng</span></a></li>
    <li class="nav-item"><a href="#" class="nav-link row text-center" style="display: none; transition: .5s;"  data-action="xoa"><i class=" col-12 fa-regular fa-trash-can"></i><span style="display: inline-block;" class="col-12">Xóa câu hỏi</span></a></li>
    <li class="nav-item"><a href="#" onclick="closePopupCustom()" class="nav-link d-flex justify-content-center align-items-center" data-action="thoat" style="padding: 1.5rem;"><i class="fa-solid fa-x" style="border: none;"></i></a></li>
  </ul></div>
  
  <div class="footer d-flex justify-content-between align-items-center">
    <div class="numbers-question"><select id="numbers-select" class="form-select" aria-label="Default select example">
      <option value="100" >100</option>
      <option value="75" >75</option>
      <option value="50" >50</option>
      <option value="25" selected>25</option>
    </select></div>
    <div class="pagination-container">
      <ul class="pagination">
        
      </ul>
    </div>
    
  </div>
</div>
      
    </div>
    
    <script src="/js/bootstrap.js"></script>
    <script src="/js/animation-custom.js"></script>
    <script src="/js/question-request.js"></script>
  </body>   
</html>
